/* .No{
  color : s;
} */
/* 김민우 바보자식아~ */
/* .No{
  color : s;
} */
.container{
background-color:gray;
}
.calender{
  top:50px;
  text-align: center;
  width:49%;
  height:700px;
  float:left;
  border-radius:40px;
  background-color:rgb(255, 204,153);
  font-size: 20px;
}
.month_bt{
border-top-left-radius: 30px; 30px;
border-top-right-radius: 30px 30px;
background-color: yellow;
}
table,th,td{
  border-bottom-width:7px;
  border-collapse: collapse;
  border: 2px solid white;
  padding: 5px 5px 5px 5px;
}
table{
  border-collapse:collapse;
  font-family:"맑은 고딕";
  font-size:30px;
  font-weight: bold;
  width:80%;
  height:100px;
  margin-left:65px;
  margin-top:20px;
  text-align: center;
}
.prev{
  visibility: inherit;
  text-align: left;
}
.month{
  margin:0px;
  text-align: center;
  position:relative;
  font-size:50px;
}
.next{
  visibility: inherit;
  text-align: right;
}
.day{
  text-align: center;
  
}
.no{
  text-align: center;
}
.todo{
  border-radius:40px;
  background-color: bisque;
  float:right;
  width:49%;
  height:700px;

}
